/* Reset styles */
/* I wanted to design something cold, simple */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    background-size: cover;
    color: white;
    padding: 80px;
    margin: 50px;
    text-align: center;
}

header {
    text-align: center;
    margin-bottom: 90px;
}

h1 {
    font-size: 8em;
    font-weight: thin;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 2em;
    margin-bottom: 50px;
    color: #fff;
}

p {
    margin: 0 auto 60px;
    max-width: 600px;
    text-align: center;
    line-height: 3.6;
}

.skills, .projects-list {
    display: inline;
}

.skills li, .projects-list li {
    display: inline;
    margin-right: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}

.contacts {
    margin-top: 10px;
}

.contacts a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.contacts a:hover {
    color: #007bff;
}

.project-link {
    color: #007bff;
    text-decoration: underline;
}

.project-link:hover {
    color: #0056b3;
}

.project-item {
    margin-bottom: 20px;
}

